
#main h5{
  font-family: 'Playfair Display', serif;
}
#main h3 {
  /*font-family: 'Playfair Display', serif;*/
}

#intro {
  color : orange;
  margin: 3em auto 5em;
  text-align: center;
  padding: 0.4em 0 2em 0;
  border-bottom: 0.1em solid  #f58f29;
}

#intro h5 {
  color: #ef9b56;
  font-size: 3em;
}
#intro h5 i{
  color: grey;
}

#intro p {
  color : white;
  padding: 1em;
}
#intro p:hover{
  background:  rgb(135, 135, 135);
  border-radius: 1em;
  transition-property: background,color;
  transition-duration: 0.7s,0.7s;
  color: black;
}
#presentation{
  padding: 1em;
  color: white;
}

#presentation h3{
  color: #ef9b56;
}
#presentation i {
  color: grey;
}
#presentation p {
  padding: 2em;
}
.field {
  padding: 0.4em 0 2em 0;
  margin-bottom: 3em;
  border-bottom: 0.1em solid  #f58f29;
}
.field h3 {
  text-align: center;
}
.field p:hover{
  background: rgb(135, 135, 135);
  border-radius: 1em;
  transition-property: background,color;
  transition-duration: 0.7s,0.7s;
  color: black;
}

footer{
  border: 0.1em solid orange;
  padding: 0.5em;
  font-size: 1.5em;
  background: grey;
  text-align: center;

}
footer .col{
  padding: 1em;
}
