{% extends "base.html" %}
{% load i18n %}
{%	block	title	%}{% trans "Change	your	password" %}{%	endblock	%}
{%	block	content	%}
		<div class="main">
    <div class="container">
    <section class="sign-in">
    <br><h3 style="text-align: center ; margin-bottom: 1em;">{% trans "Change	your	password" %}</h3><hr><br><br>
    <form		action="." method="post">{% csrf_token %}
    <div class="form-group">
            <label for="old_password"><i class="eye slash outline icon"></i></label>
            <input type="password" name="old_password" id="your_pass" placeholder="old Password"/>
        </div>
        {% if form.errors and form.old_password.erros %}
          <div class="alert alert-danger" role="alert">
                {% for error in form.old_password.errors %}
                {{error}}
                  {% endfor %}
						</div>
          {% endif %}
        <div class="form-group">
            <label for="new_password1"><i class="eye slash outline icon"></i></label>
            <input type="password" name="new_password1" id="your_pass" placeholder="new Password"/>
        </div>
				{% if form.errors and form.new_password1.errors %}
					<div class="alert alert-danger" role="alert">
								{% for error in form.new_password1.errors %}
								{{error}}<br>
									{% endfor %}
							</div>
					{% endif %}
            <div class="form-group">
                <label for="new_password2"><i class="eye slash outline icon"></i></label>
                <input type="password" name="new_password2" id="your_pass" placeholder="confirm new Password"/>
            </div>
            {% if form.errors and form.new_password2.errors %}
              <div class="alert alert-danger" role="alert">
                    {% for error in form.new_password2.errors %}
                    {{error}}<br>
                      {% endfor %}
									</div>
              {% endif %}
							<br>
							<hr>
							<br>
      <input	type="submit"	class="ui grey button " value={% trans "Change" %}>
    </form>
    <br><br>
    <br>
  </section>
  </div>
</div>


{%	endblock	%}
