{% extends "base.html" %}
{% load i18n %}
{%	block	title	%}{% trans "Set	your	password" %}{%	endblock	%}
{%	block	content	%}
		<div class="main">
    <div class="container">
    <section class="sign-in">
    <br><h3 style="text-align: center ; margin-bottom: 1em;">{% trans "Set	your	password" %}</h3><hr><br><br>
    <form		action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label for="password1"><i class="eye slash outline icon"></i></label>
            <input type="password" name="password1" id="your_pass" placeholder='{% trans "Password" %}'/>
        </div>
				{% if form.errors and form.password1.errors %}
					<div class="alert alert-danger" role="alert">
								{% for error in form.password1.errors %}
								{{error}}<br>
									{% endfor %}
							</div>
					{% endif %}
            <div class="form-group">
                <label for="password2"><i class="eye slash outline icon"></i></label>
                <input type="password" name="password2" id="your_pass" placeholder='{% trans "confirm Password" %}'/>
            </div>
            {% if form.errors and form.password2.errors %}
              <div class="alert alert-danger" role="alert">
                    {% for error in form.password2.errors %}
                    {{error}}<br>
                      {% endfor %}
									</div>
              {% endif %}
							<br>
							<hr>
							<br>
      <input	type="submit"	class="ui grey button " value={% trans "Set" %}>
    </form>
    <br><br>
    <br>
  </section>
  </div>
</div>


{%	endblock	%}
