{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Dash Board" %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "/paysera/css/dash_board.css" %}">
{% endblock css %}

{% block content %}
</div>
</div>
<div class="container-fluid" id="board">
  <div class="row">
    <div class="col-12">
      <h2 id="offers" class="title">{% trans "Offers" %}</h2>
    </div>
  </div>
  <div class="row"  id="offersBlock">
        {% for offer in offers %}
            <div class="row">
                <div class="col-12">
                    <div class="ui items">
                        <div class="item">
                          <div class="ui small image">
                            <img src=" {% static "/images/user.jpeg" %}"message.msg>
                          </div>
                          <div class="content">
                            <div class="header">{{offer.notif.user.username}} - ( {{offer.notif.user.phone}} )</div>
                            <div class="meta">
                              <span class="price"><span class="important">{{offer.notif.activitiy}}</span>
                              <strong>{{offer.notif.amount}} - {{offer.notif.currency}} </strong>{% trans "with" %}  <strong> {{offer.notif.price}}DA</strong>

                              </span>
                              <span class="stay">{% blocktrans %}{{offer.notif.date}}{% endblocktrans %}</span>
                            </div>
                            <div class="description">
                              <p class="mb-1">{{offer.notif.message}}</p>
                            </div>
                            <div class="extra">
                                <div class="ui label"><span class="remove-check" value="offer/remove/{{offer.notif.pk}}/">{% trans "Remove" %}</span></div>
                                <div class="ui label">
                                  {% if offer.seen == False %}
                                  <span class="remove-check" value="offer/check/{{offer.notif.pk}}/">{% trans "Check" %}</span>
                                  {% else %}
                                  <span class="remove-check checked" value="offer/check/{{offer.notif.pk}}/">{% trans "Checked" %}</span>
                                  {% endif %}
                                </div>
                              </div>
                          </div>
                        </div>
                  </div>
                  </div>
                </div>
        {% endfor %}
  </div>

    <div class="row">
      <div class="col-12">
        <h2 id="messages" class="title">{% trans "Messages" %}</h2>
      </div>
    </div>
    <div class="row data"  id="messagesBlock">
          {% for message in messages %}
                <div class="row">
                  <div class="col-12">
                      <div class="ui items">
                          <div class="item">
                            <div class="ui small image">
                              <img src=" {% static "/images/user.jpeg" %}">
                            </div>
                            <div class="content">
                              <div class="header">{{message.msg.user.username}} - ( {{message.msg.user.phone}})</div>
                              <div class="meta">
                                <span class="price"><span class="important">{{message.msg.content}}</span></span>
                                <span class="stay">{% blocktrans %}{{message.msg.date}}{% endblocktrans %}</span>
                              </div>
                              <div class="description">
                                <p class="mb-1">{{message.msg.contactMessage}}</p>
                              </div>
                              <div class="extra">
                                <div class="ui label"><span class="remove-check" value="message/remove/{{message.msg.pk}}/">{% trans "Remove" %}</span></div>
                                <div class="ui label">
                                  {% if message.seen == False %}
                                  <span class="remove-check" value="messsage/check/{{message.msg.pk}}/">{% trans "Check" %}</span>
                                  {% else %}
                                  <span class="remove-check checked" value="messsage/checked/{{message.msg.pk}}/">{% trans "Checked" %}</span>
                                  {% endif %}
                                  </div>
                                </div>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
          {% endfor %}
      </div>


    </div>


{% endblock %}

{% block js %}
<script src="{% static "/paysera/js/dash_board.js" %}"></script>

{% endblock js %}
