{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content %}

<div class="main">
  <div class="container">
  <div class="sign-in">
      <br><h3 style="text-align: center ; margin-bottom: 1em;">{% trans "Reset your Password using your email address" %} </h3><hr>
          <form method="POST" class="register-form" id="login-form">{% csrf_token %}
              <div class="form-group">
                  <label for="email"><i class="user secret icon"></i></label>
                  <input type="email" name="email" id="your_name" placeholder={% trans "Your Email" %}/>
              </div>
              {% if form.errors and form.email.errors%}
                <div class="alert alert-danger" role="alert">
                      {% for error in form.email.errors %}
                      {{error}}<br>
                    </div>

                        {% endfor %}
                {% endif %}
          <input	type="submit"	class="ui grey button" value={% trans "Send" %}>
        </form>
        <br><br>
    </div>
  </div>
</div>

{% endblock %}
