{%	extends	"base.html"	%}
{% load i18n %}
{% load staticfiles %}
{%	block	title	%}{% trans "Reset	your	password" %}{%	endblock	%}

{%	block	content	%}
		{%	if	validlink	%}
		<div class="main">
    <div class="container">
    <section class="sign-in">
    <br><h3 style="text-align: center ; margin-bottom: 1em;">{% trans "Reset	your	password" %}</h3><hr><br><br>
    <form		action="." method="post">{% csrf_token %}
    <div class="form-group">
        <div class="form-group">
            <label for="new_password1"><i class="eye slash outline icon"></i></label>
            <input type="password" name="new_password1" id="your_pass" placeholder="Password"/>

        </div>
      </div>
        <div class="form-group">
            <label for="new_password2"><i class="eye slash outline icon"></i></label>
            <input type="password" name="new_password2" id="your_pass" placeholder="Password"/>

        </div><br>
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
                {% for error in form.new_password2.errors %}
                {{error}}<br>
          </div>
                  {% endfor %}
          {% endif %}
      <input	type="submit"	class="ui grey button " value={% trans "Change" %}>
    </form>
    <br><br>
    <br>
  </section>
  </div>
</div>
		{%	else	%}
			<div class="mainMesg">
        <div class="alert alert-danger alertMessage" role="alert">
          <h4 class="alert-heading">{% trans "Invalid Link" %}</h4>
      		<p>{% trans "The	password	reset	link	was	invalid,	possibly	because	it	has already	been	used.	Please	request	a	new	password	reset !" %}</p><hr>
      			<a	href="{%	url 'accounts:password_reset'	%}" class="alert-link">{% trans "Reset your password" %}</a>
				</div>
        </div>
    {%	endif	%}

{%	endblock	%}
